<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.veasy.mapper.ActivityMapper">

    <insert id="createActivityByAdmin" parameterType="org.veasy.entity.Activity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity
        SET `name`         = #{name},
            `startTime`    = #{startTime},
            `endTime`      = #{endTime},
            `location`     = #{location},
            `volunteerNum` = #{volunteerNum},
            `contactWay`   = #{contactWay},
            `statusId`     = #{statusId},
            `hours`        = #{hours},
            `restNum`      = #{volunteerNum}
    </insert>

<!--    取消活动要删除活动表，报名表，志愿者表中的全部信息-->
    <delete id="cancelActivity">
        DELETE
        FROM application_form af
        WHERE af.`activityId` = #{activityId};
        DELETE
        FROM volunteer_list vl
        WHERE vl.`activityId` = #{activityId};
        DELETE
        FROM activity a
        WHERE a.`id` = #{activityId};
    </delete>

    <select id="loadAllActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity
    </select>

    <select id="loadUnderApplyActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
                 LEFT JOIN status s ON a.`statusId` = s.`id`
        WHERE a.`statusId` = 1
    </select>

    <select id="loadEndActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        WHERE a.`statusId` = 3
    </select>

    <select id="loadAppliedActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
                 LEFT JOIN application_form af ON a.id = af.activityId
        WHERE af.`studentId` = #{studentId}
    </select>

    <select id="loadMyActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
                 LEFT JOIN volunteer_list vl ON a.`id` = vl.`activityId`
        WHERE vl.`studentId` = #{studentId}
    </select>

    <select id="loadActivityByTime" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        WHERE a.`startTime` >= #{sT}
          AND #{eT} >= a.`endTime`
    </select>

    <update id="updateRestNum">
        UPDATE activity a
        SET a.restNum = #{restNum}
        WHERE a.id = #{activityId}
    </update>

    <update id="activitySummary">
        UPDATE activity a
        SET a.`summary` = #{summary}
        WHERE a.`id` = #{activityId}
    </update>

    <select id="getSignTimeById" resultType="java.util.Date">
        SELECT a.`signTime`
        FROM activity a
        WHERE a.`id` = #{activityId}
    </select>

    <update id="setSignTimeById">
        UPDATE activity a
        SET a.signTime = #{signTime}
        WHERE a.`id` = #{activityId}
    </update>

    <select id="loadActivityById" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        WHERE a.`id` = #{activityId}
    </select>
</mapper>

