<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.veasy.mapper.ActivityMapper">

    <insert id="createActivityByAdmin" parameterType="org.veasy.entity.Activity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity a SET a.`name` = #{name}, a.`startTime` = #{startTime}, a.`endTime` = #{endTime},a.`location` = #{location},a.`volunteerNum` = #{volunteerNum},a.`contactWay` = #{contactWay},a.`summary` = #{summary},a.`statusId` = #{statusId},a.`status` = #{status},a.`hours` = #{hours}
    </insert>

<!--    取消活动要删除活动表，报名表，志愿者表中的全部信息-->
    <delete id="cancelActivity">
        DELETE FROM activity a WHERE a.`id` = #{activityId};
        DELETE FROM application_form af WHERE af.`activityId` = #{activityId};
        DELETE FROM volunteer_list vl WHERE vl.`activityId` = #{activityId};
    </delete>

    <select id="loadAllActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity
    </select>

    <select id="loadUnderApplyActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        LEFT JOIN status s ON a.`statusId` = s.`id`
        WHERE a.`statusId` = 1
    </select>

    <select id="loadEndActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        LEFT JOIN status s ON a.`statusId` = s.`id`
        WHERE a.`statusId` = 3
    </select>

    <select id="loadMyActivity" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        LEFT JOIN volunteer_list vl ON a.`id` = vl.`activityId`
        WHERE vl.`studentId` = #{id}
    </select>

    <select id="loadActivityByTime" resultType="org.veasy.entity.Activity">
        SELECT *
        FROM activity a
        WHERE a.`startTime` >= #{sT} AND #{eT} >= a.`endTime`
    </select>



</mapper>

