<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.veasy.mapper.ApplicationListMapper">

    <insert id="applyActivity" parameterType="org.veasy.entity.ApplicationList" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO application_form
        SET studentId  = #{studentId},
            activityId = #{activityId},
            applyTime  = #{applyTime}
    </insert>

    <select id="isApplied" resultType="java.lang.Integer">
        SELECT *
        FROM application_form af
        WHERE af.`studentId` = #{studentId}
          AND af.`activityId` = #{activityId}
    </select>

    <select id="loadVolunteersById" resultType="java.lang.Integer">
        SELECT vl.`studentId`
        FROM volunteer_list vl
        WHERE vl.`activityId` = #{activityId}
    </select>
</mapper>