<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.veasy.mapper.StatusMapper">
    <select id="getStatusById" resultType="String">
        SELECT s.`name`
        FROM status s
        WHERE s.`id` = #{id}
    </select>
</mapper>