<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.veasy.mapper.UserMapper">
    <select id="loadUserById" resultType="org.veasy.entity.User">
        SELECT *
        FROM user u
        WHERE u.`id` = #{id}
    </select>

    <select id="loadUserByStudentNo" resultType="org.veasy.entity.User">
        SELECT *
        FROM user u
        WHERE u.`studentNo` = #{studentNo}
    </select>

    <update id="revisePwd">
        UPDATE user u
        SET u.`password` = #{newPwd}
        WHERE u.`id` = #{id}
    </update>

    <update id="updateActivityHoursById">
        UPDATE user u
        SET u.`activityHours` = u.`activityHours` + #{hours}
        WHERE u.`id` = #{volunteerId}
    </update>

    <select id="loadUserByStudentId" resultType="org.veasy.entity.User">
        SELECT *
        FROM user u
        WHERE u.`id` = #{studentId}
    </select>
</mapper>